<%- include("partials/header.ejs") %>

<h1>Add Webinar</h1>


<form action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
    <div class="but">
        <input type="text" placeholder="Heading of Webinar" value="<%= blog.blogtitle %>" name="blog[blogtitle]">
    </div>
    <div class="but">
        <input type="text" placeholder="URL of Image" value="<%= blog.blogimage %>" name="blog[blogimage]">
    </div>
    <div class="but">
        <input class="txtc" type="text" value="<%= blog.blogimage2 %>" name="blog[blogimage2]">
    </div>
    <div class="but">
        <input type="text" placeholder="Description" value="<%= blog.blogdescription %>" name="blog[blogdescription]">
    </div>
    <button type="submit">Submit</button>


</form>

<%- include("partials/footer.ejs") %>