<%- include("partials/header.ejs") %>
<div class="container-fluid" id="yy">

    <div class="container-fluid">
        <div class="emment">

            <h1 class="display-4"><%= blog.blogtitle %></h1>
        </div>
        <div class="imgsrc">
            <div class="imgsrcc">

                <img src="<%= blog.blogimage %>" class="imgblog">
            </div>

        </div>


    </div>

    <div class="content-image">
        <img src="<%= blog.blogimage2 %>" style="width: 100%;">
    </div>
    <div class="content-base">
        <h3><%= blog.blogdescription %> </h3>
    </div>






    <div class="content-base">
        <h3><%= blog.content2 %> </h3>
    </div>

    <div class="content-heading">
        <h3><%= blog.heading2 %> </h3>
    </div>

    <div class="content-image">
        <img src="<%= blog.blogimage3 %>" style="width: 100%;">
    </div>

    <div class="content-base">
        <h3><%= blog.content3 %> </h3>
    </div>

    <div class="content-image">
        <img src="<%= blog.blogimage4 %>" style="width: 100%;">
    </div>

    <div class="content-base">
        <h3><%= blog.content4 %> </h3>
    </div>

    <div class="content-image">
        <img src="<%= blog.blogimage5 %>" style="width: 100%;">
    </div>

    <div class="content-heading">
        <h3><%= blog.heading3 %> </h3>
    </div>

    <div class="content-base">
        <h3><%= blog.content5 %> </h3>
    </div>
    <div class="content-image">
        <img src="<%= blog.blogimage6 %>" style="width: 100%;">
    </div>
    <div class="content-base">
        <h3><%= blog.content6 %> </h3>
    </div>

    <div class="content-image">
        <img src="<%= blog.blogimage7 %>" style="width: 100%;">
    </div>

    <div class="content-heading">
        <h3><%= blog.heading4 %> </h3>
    </div>


    <div class="content-base">
        <h3><%= blog.content7 %> </h3>
    </div>

    <div class="content-image">
        <img src="<%= blog.blogimage8 %>" style="width: 100%;">
    </div>

    <div class="content-base">
        <h3><%= blog.content8 %> </h3>
    </div>

    <div class="content-image">
        <img src="<%= blog.blogimage9 %>" style="width: 100%;">
    </div>

    <div class="content-heading">
        <h3><%= blog.heading5 %> </h3>
    </div>

    <div class="content-image">
        <img src="<%= blog.blogimage10 %>" style="width: 100%;">
    </div>


    <div class="content-base">
        <h3><%= blog.content9 %> </h3>
    </div>

    <div class="content-image">
        <img src="<%= blog.blogimage11 %>" style="width: 100%;">
    </div>



    <div class="content-base">
        <h3><%= blog.content10 %> </h3>
    </div>

    <div class="content-image">
        <img src="<%= blog.blogimage12 %>" style="width: 100%;">
    </div>

    <div class="content-heading">
        <h3><%= blog.heading6 %> </h3>
    </div>

    <div class="content-image">
        <img src="<%= blog.blogimage13 %>" style="width: 100%;">
    </div>

    <div class="content-base">
        <h3><%= blog.content11 %> </h3>
    </div>


    <div class="content-image">
        <img src="<%= blog.blogimage14 %>" style="width: 100%;">
    </div>
    <div class="content-base">
        <h3><%= blog.content12 %> </h3>
    </div>
    <div class="content-base">
        <h3><%= blog.content13 %> </h3>
    </div>






    <% if(currentuser){ %>
    <a href="/blogs/<%=blog._id %>/edit" class="btn btn-success" style="display: inline-block;">Edit Blog</a>
    <form id="delete-form" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
        <button class="btn btn-xs btn-danger">Delete</button>
    </form>
    <% } %>


</div>


<style>
    /*  ==============================================================================================================*/
    /* title */
    @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');
    /* heading */
    @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;600&display=swap');
    /* content */
    @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

    /* ======================================================================================================= */
    .content-base h3 {
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
    }

    .content-heading {
        font-family: 'Mukta', sans-serif;
        font-size: 25px;
    }

    .classintermediate {

        margin-left: 30%;
        max-width: 600px;
        max-height: 500px;
    }

    .imgsrcc {
        background-image: linear-gradient(to right, rgba(58, 116, 108, 0.151), rgba(58, 116, 108, 0.251), rgb(58, 116, 108, 0.7));

    }

    .imgsrc {

        background-image: linear-gradient(to right, rgba(58, 116, 108, 0.151), rgba(58, 116, 108, 0.251), rgb(58, 116, 108, 0.7));
        clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0% 60%, 0 0);
        height: 105vh;
    }

    #yy {
        background-color: white;
    }



    .display-4 {
        font-family: 'Exo 2', sans-serif;
        margin-left: 5%;
        margin-right: 10%;
        text-align: left;
        color: white;
        position: absolute;
        top: 62%;
        z-index: 5;
        text-shadow: 5px 5px 10px black;


    }

    .class {

        display: block;
        justify-content: center;
        align-items: center;
    }



    .imgblog {
        position: relative;
        display: block;
        z-index: -1;
        clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0% 60%, 0 0);
        width: 100%;
        height: 100vh;


    }
</style>



<%- include("partials/footer.ejs") %>