<%- include("partials/header.ejs") %>



<div class="container-fluid" id="yy">

    <div id="imgweb" class="container-fluid">


        <img class="imgblog" src="<%= webinar.image %>">


    </div>

    <h3 class="h3tag"><%=webinar.description %> </h3>
    <% if(currentuser){ %>
    <a href="/webinars/<%=webinar._id %>/edit" class="btn btn-success" style="display: inline-block;">Edit Webinar</a>
    <form id="delete-form" action="/webinars/<%= webinar._id %>?_method=DELETE" method="POST">
        <button class="btn btn-xs btn-danger">Delete</button>
    </form>
    <% } %>

    <div class="chinesemain">

        <div class="chinesepart1">
            <h5>無法即時參與線上活動？只需註冊即可獲取點播連結，供您隨時觀看。</h5>

            <h1>Speakers</h1>

            <div>

                <img id="photo" class="photo"
                    src="https://media-exp1.licdn.com/dms/image/C5603AQFkDKcYrNruXQ/profile-displayphoto-shrink_200_200/0?e=1601510400&v=beta&t=AK7LOg4SDyPJaldKZRyVS1gonolA3_JhInMLXfKVPko"
                    alt="alt">
                <label class="label" for="photo">Delia Ee<br>
                    亞太區業務經理<br>
                    Zendesk</label>
            </div>
            <div>
                <img class="photo"
                    src="https://media-exp1.licdn.com/dms/image/C5103AQGPk_kLpHHxIA/profile-displayphoto-shrink_400_400/0?e=1599091200&v=beta&t=c2zq9fKip1_qLN9uB4Gt2lzTj1jysW9P3t1uBuwsqAU"
                    alt="alt">
                <label class="label" for="photo">Alvin Ong<br>
                    亞太區業務經理<br>
                    Zendesk</label>
            </div>
        </div>



        <div class="chinese">
            <form action="https://formsubmit.co/v3webinar@gmail.com" method="POST">
                <input type="hidden" name="_next" value="https://www.v3webinar.com/">
                <label id="idlabel">個人資料</label>
                <div class="but">
                    <input type="text" class="txtaa" name="user_name" id="name" placeholder="名 *">
                </div>
                <div class="but">

                    <input type="text" id="mail" class="txtaa dropdown" name="name" placeholder="姓 *">

                </div>
                <div class="but">

                    <input type="email" id="mail" class="txtaa" name="email" placeholder="公司電子郵件地址 *">

                </div>
                <div class="but">

                    <input type="text" id="mail" class="txtaa" name="text" placeholder="職稱 *">

                </div>
                <div class="but">

                    <input type="text" id="mail" class="txtaa" name="text" placeholder="公司名稱 *">

                </div>
                <div class="but">

                    <input type="text" id="mail" class="txtaa" name="text" placeholder="電話號碼 *">

                </div>

                <div class="label2">

                    <select id="country" name="國家/地區 *">
                        <option value="國家/地區 *">國家/地區 *</option>
                        <option value="中國">中國</option>
                        <option value="香港">香港</option>
                        <option value="台灣">台灣</option>

                    </select>

                </div>

                <div class="label2">

                    <select id="country" name="電腦硬體">
                        <option value="電腦硬體">電腦硬體</option>
                        <option value="航天與國防">航天與國防</option>
                        <option value="汽車">汽車</option>
                        <option value="化學和金屬與礦產業">化學和金屬與礦產業</option>
                        <option value="電腦硬體">電腦硬體</option>
                        <option value="電腦軟體與服務">電腦軟體與服務</option>
                        <option value="消費產品">消費產品</option>
                        <option value="消費服務">消費服務</option>
                        <option value="企業服務">企業服務</option>
                        <option value="教育">教育</option>
                        <option value="能源與環境">能源與環境</option>
                        <option value="金融服務">金融服務</option>
                        <option value="政府與非營利">政府與非營利</option>
                        <option value="政府與非營利">醫療保健設備與服務</option>
                        <option value="工業製造與服務">工業製造與服務</option>
                        <option value="媒體與娛樂">媒體與娛樂</option>
                        <option value="不動產服務">不動產服務</option>
                        <option value="零售和批發與分銷">零售和批發與分銷</option>
                        <option value="電信">電信</option>
                        <option value="交通">交通</option>
                    </select>

                </div>

                <div class="label2">

                    <select id="country" name="員工人數 *">
                        <option value="員工人數">員工人數 *</option>
                        <option value="1 - 9">1 - 9</option>
                        <option value="10 -49">10 -49</option>
                        <option value="50 - 99">50 - 99</option>
                        <option value="100 - 249">100 - 249</option>
                        <option value="250 - 499">250 - 499</option>
                        <option value="500 - 999">500 - 999</option>
                        <option value="1000 - 4999">1000 - 4999</option>
                        <option value="5000+">5000+</option>
                    </select>

                </div>


                <div class="label2">

                    <select id="country" name="您目前是否為 Zendesk 客戶？ *">
                        <option value="您目前是否為 Zendesk 客戶？ ">您目前是否為 Zendesk 客戶？ *</option>
                        <option value="是">是</option>
                        <option value="不是">不是</option>
                        <option value="我目前正在 30 天的試用期">我目前正在 30 天的試用期</option>
                        <option value="其它">其它</option>

                    </select>

                </div>
                <div class="butcheck">
                    <input id="kuchnii" type="checkbox" name="_captcha" value="true">
                    <label class="label" for="kuchnii">是，請發送有關 Zendesk 產品與服務的通知。（您可隨時取消訂閱）</label>
                </div>
                <div class="butcheck">
                    <input id="kuchbhi" type="checkbox" name="_captcha" value="true">
                    <label class="label" for="kuchbhi">
                        我同意 Zendesk 隱私政策 *</label>

                </div>
                <div class="buted">
                    <input id="captcha" type="checkbox" name="_captcha" value="true">
                    <p style="color: white ;margin-top: 10%;">I'm not a robot</p>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/RecaptchaLogo.svg/1200px-RecaptchaLogo.svg.png"
                        alt="alt" class="asdfgh">
                </div>


                <div class="butuon">

                    <button type="submit" class="button btn">繼續</button>
                    <input type="hidden" name="_captcha" value="false">
                    <!-- <input type="hidden" name="_cc" value="ajit.buxi@venaliciumdigital.com"> -->
                </div>



            </form>

        </div>
    </div>
</div>
<style>
    #idlabel {
        color: black;
    }

    #imgweb {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .label {
        color: black;
    }

    .txtaa {
        color: black;
    }

    /* .chinesepart1 {} */
    .photo {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: 50px;
    }

    .chinesemain {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .butuon {
        margin-left: 30%;
    }

    .butcheck {

        margin: 30px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .asdfgh {
        height: 50px;
        width: 50px;
        margin-top: 10%;
    }

    #captcha {
        height: 30px;
        width: 30px;

        margin: 20px;


    }

    .buted {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        margin-left: 20%;
        margin-bottom: 30px;
        margin-right: 20%;
        background-color: rgba(95, 158, 160, 0.356);
    }

    .label2 {

        margin-top: 10px;
    }

    select {
        width: 90%;
        height: 35px;
        /* margin-top: 10px; */
        /* padding: 16px 20px; */
        border: none;
        border-radius: 4px;
        background-color: #f1f1f1;
    }

    textarea {
        margin-top: 20px;
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        border: none;
        box-sizing: border-box;
        border-bottom: 2px solid rgb(250, 225, 5);
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
    }

    .message2 {
        margin-top: 20px;
    }

    .chinese {
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 10px;
        border: black solid 2px;
        border-radius: 10px;
        /* box-shadow: -10px -10px 10px black; */


    }

    .h1as {
        text-align: center;
    }

    .but {
        margin-bottom: 30px;
    }

    .button {

        width: 200px;
        height: 50px;
        color: white;
        font-size: 25px;
        border-radius: 5px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button:hover {
        color: black;
        background-color: white;
        font-weight: 700;
    }

    .txtaa {
        flex: 1;
        padding: 18px 40px;
        font-size: 16px;
        color: whitesmoke;
        background: #f1f1f1;
        border: none;
        font-weight: 700;
        outline: none;
        border-radius: 4px;
        width: 90%;
        height: 20px;


    }

    .container {
        margin-top: 15%;
    }






    #yy {
        background-color: white;
    }

    .h3tag {
        /* box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.8); */
        margin-top: 70px;
        margin-right: 20%;
        margin-left: 20%;
        font-size: 20px;

        text-align: left;
        background-color: rgba(238, 255, 251, 1);
    }

    .display-4 {
        color: black;
        position: relative;
        margin-top: 150px;
        text-align: center;



    }

    .class {

        display: block;
        justify-content: center;
        align-items: center;
    }



    .imgblog {
        margin-bottom: 10%;
        position: relative;
        top: 100px;
        /* clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0% 60%, 0 0); */
        width: 80%;
        height: 50vh;
        box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.8);


    }

    @media (max-width: 950px) {
        .chinesemain {
            display: grid;
            grid-template-columns: 1fr;
        }

    }
</style>




<%- include("partials/footer.ejs") %>