<%- include("partials/header.ejs") %>

<% webinar.forEach(function(webinar){ %>

<div class="blockass">

  <div class="blogs owl-carousel">
    <div class="blog">
      <img src="<%= webinar.image %>" class="card-img-top" alt="...">
      <div class="blog-description">
        <div class="categorie">
          <h5 class="card-title"><%= webinar.title %></h5>
        </div>

        <a href="/webinars/<%= webinar._id %>" class="btnsa">View Webinar
          !</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(".owl-carousel").owlCarousel({
    items: 2,
    margin: 10,
    loop: false,
    center: true,
    dots: false
  });
</script>


<% }) %>





<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

  .blockass {
    position: relative;
    top: 300px;
    margin-bottom: 100px;
  }

  .blogs {
    position: relative;

    transform: translateY(-50%);
  }

  .blog {
    overflow: hidden;
    position: relative;
    height: 300px;
    cursor: pointer;
  }

  .blog img {
    width: 100%;
    height: 100%;
  }

  .blog-description {
    position: absolute;
    bottom: -40px;
    background: #333333ca;
    width: 100%;
    padding: 40px;
    transition: .3s linear;
  }

  .blog:hover .blog-description {
    bottom: 0;
  }

  .categorie {
    display: inline-block;
    color: #e77f67;
    font-size: 18px;
    position: relative;
    padding: 0 22px;
  }

  .categorie::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 2px;
    background: #e77f67;
    left: 0;
    top: 13px;
  }

  .categorie::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 2px;
    background: #e77f67;
    right: 0;
    top: 13px;
  }

  .title {
    color: #fff;
    font-weight: 500;
    margin: 5px 0;
  }

  .date {
    font-style: italic;
    color: #e77f67;
    margin-bottom: 20px;
  }

  .btnsa {
    display: inline-block;
    color: #e77f67;
    text-decoration: none;
    border: 1px solid #e77f67;
    padding: 6px 20px;
    opacity: 0;
    transition: .3s linear;
  }

  .blog:hover .btnsa {
    opacity: 1;
  }

  .btnsa:hover {
    color: #fff;
    background: #e77f67;
  }

  .owl-stage {
    display: flex !important;
  }

  body {
    font-family: 'Poppins', sans-serif;
    background-color: gray;
  }

  .blog-post {
    display: flex;
    flex-direction: row;
    margin: 10rem;
    width: 70%;
    height: 60%;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .blog-post-img {
    flex: 1;

    padding: 2rem 2rem 2rem 0rem;
  }

  .blog-post-img>img {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    object-fit: cover;
    transform: translateX(-50px);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .5);
  }

  .blog-post-info {
    flex: 2;
    padding: 2rem;
  }

  .blog-post-title h2 {
    color: #673AB7;
    text-transform: uppercase;
  }



  .blog-post-read-more a {
    cursor: pointer;
    text-decoration: none !important;

    font-style: normal;
    border-radius: 0.3rem;
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #673AB7;
    color: #673AB7 !important;
    box-shadow: 0 0.05em 0.1em rgba(0, 0, 0, .25);
  }

  .blog-post-read-more a:hover {
    transition: .5s;
    background-color: #673AB7;
    border: 1px solid #673AB7;
    color: #fff !important;
    text-decoration: none;
  }

  /*Extra small devices (phones , 600px and down)*/

  @media (min-width: 600px) and (max-width: 996px) {

    .blockass {
      position: relative;
      top: 300px;

      margin-bottom: 300px;
    }

  }

  @media (min-width: 300px) and (max-width: 600px) {


    .blockass {
      position: relative;
      top: 0;
      margin-top: 200px;
      margin-right: 0;
      margin-left: -75px;
      margin-bottom: 0;
    }

    .blog {
      overflow: hidden;
      position: relative;
      height: 200px;
      width: 350px;
      cursor: pointer;
    }
  }

  /* @media only screen and (max-width: 600px) {
    .blog-post {
      display: flex;
      flex-direction: column;
      margin-top: 3rem;
      margin-left: 1rem;
      margin-right: 1rem;
      justify-content: center;
      align-items: center;
      background-color: white;
    }

    .blog-post-img {
      flex: 1;
      padding: 0rem 1rem 0rem 1rem;
    }

    .blog-post-img>img {
      width: 100%;
      height: 100%;
      border-radius: 0.3rem;
      object-fit: cover;
      transform: translateY(-20px);
      box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .5);
    }

    .blog-post-info {
      flex: 2;
      padding: 0rem 1rem 2rem 1rem;
    }
  }

  /*Medium devices (tablets landscape)*/

  /* @media only screen and (min-width: 768px) {
    .blog-post {
      display: flex;
      flex-direction: column;
      margin-top: 3rem;
      margin-left: 1rem;
      margin-right: 1rem;
      justify-content: center;
      align-items: center;
      background-color: white;
    }

    .blog-post-img {
      flex: 1;
      padding: 0rem 1rem 0rem 1rem;
    }

    .blog-post-img>img {
      width: 100%;
      height: 100%;
      border-radius: 0.3rem;
      object-fit: cover;
      transform: translateY(-20px);
      box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .5);
    }

    .blog-post-info {
      flex: 2;
      padding: 0rem 1rem 2rem 1rem;
    }

  }
 */

  /*Large devices (laptops)*/
  /* @media only screen and (min-width: 992px) {
    .blog-post {
      display: flex;
      flex-direction: row;
      margin: 10rem;
      justify-content: center;
      align-items: center;
      background-color: white;
    }

    .blog-post-img {
      flex: 1;
      padding: 2rem 2rem 2rem 0rem;
    }

    .blog-post-img>img {
      width: 100%;
      height: 100%;
      border-radius: 0.3rem;
      object-fit: cover;
      transform: translateX(-50px);
      box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .5);
    }

    .blog-post-info {
      flex: 2;
      padding: 2rem;
    }

  } */
</style>





<%- include("partials/footer.ejs") %>